<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- Лог для администратора -->
		<target name="admin_log" xsi:type="File"
				fileName="C:/Mac/Home/Documents/Tabletochka/T4bJl3T04K4/AdminLog.txt"
				layout="${longdate}|${level:uppercase=true}| ${message}"
				deleteOldFileOnStartup="true" />

		<!-- Лог для разработки -->
		<target name="dev_log" xsi:type="File"
				fileName="C:/Mac/Home/Documents/Tabletochka/T4bJl3T04K4/DevLog.txt"
				layout="${longdate}|${level:uppercase=true}| ${logger}| ${message}"
				deleteOldFileOnStartup="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="admin_log" />
		<logger name="*" minlevel="Debug" writeTo="dev_log" />
	</rules>
</nlog>